default_shell "/opt/homebrew/bin/fish"
show_startup_tips false
scroll_buffer_size 100000
scroll_mode_sync false

simplified_ui true
theme_dark "gruvbox-dark"
theme_light "gruvbox-light"

keybinds clear-defaults=true {
    normal {
        bind "Super Alt q" { Quit; }

        bind "Super t" { NewTab; }
        bind "Super Shift [" { GoToPreviousTab; }
        bind "Super Shift ]" { GoToNextTab; }
        bind "Super 1" { GoToTab 1; }
        bind "Super 2" { GoToTab 2; }
        bind "Super 3" { GoToTab 3; }
        bind "Super 4" { GoToTab 4; }
        bind "Super 5" { GoToTab 5; }
        bind "Super 6" { GoToTab 6; }
        bind "Super 7" { GoToTab 7; }
        bind "Super 8" { GoToTab 8; }
        bind "Super 9" { GoToTab 9; }
        bind "Super 0" { GoToTab 10; }

        bind "Super d" { NewPane "Right"; }
        bind "Super Shift d" { NewPane "Down"; }
        bind "Super [" { FocusPreviousPane; }
        bind "Super ]" { FocusNextPane; }

        bind "Super f" { SwitchToMode "Scroll"; }

        bind "Super o" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
            };
        }
    }

    scroll {
        bind "/" { EditScrollback; SwitchToMode "Normal"; }
        bind "q" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "[" { ScrollToPreviousPrompt; }
        bind "]" { ScrollToNextPrompt; }
    }

    shared_except "locked" {
        bind "Ctrl h" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "left";
            };
        }
        bind "Ctrl j" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "down";
            };
        }
        bind "Ctrl k" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "up";
            };
        }
        bind "Ctrl l" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "move_focus";
                payload "right";
            };
        }
        bind "Alt h" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "resize";
                payload "left";
            };
        }
        bind "Alt j" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "resize";
                payload "down";
            };
        }
        bind "Alt k" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "resize";
                payload "up";
            };
        }
        bind "Alt l" {
            MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
                name "resize";
                payload "right";
            };
        }
    }
}

plugins {
    session-manager location="zellij:session-manager"
}
